* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html:not(#fototottot) {
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;
}

/* header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 382.52px;
}

header,
.navANDdropdown {
    display: flex;
    align-items: center;
    padding: 16px 0px;
}

header p {
    color: #FFCC01;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

header p span {
    background: linear-gradient(to bottom, #FFCC01 50%, #03357C 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

header p a {
    cursor: help;
    color: #03357C;
    text-decoration: none;
}

.navANDdropdown {
    display: flex;
    column-gap: 48px;
}


/* navbar */
nav {
    display: flex;
    align-items: center;
    column-gap: 48px;
}

nav a {
    text-decoration: none;
    color: black;
}


/* .nav-1 , .nav-2 , .nav-3 */
.nav-1 {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;

}

/* .nav-1:onclick {transition: 0.5s ease-in-out;} */

.nav-1 a,
svg {
    display: flex;
    align-items: center;
    column-gap: 8px;
}


.nav-2 {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.nav-2 a,
svg {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.nav-3 {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.nav-3 a,
svg {
    display: flex;
    align-items: center;
    column-gap: 8px;
}


/* dropdown */
.dropdown-button {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s ease-out, color 0.4s ease-out;
}

.dropdown-button:hover {
    color: #4e4e4e;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.dropdown-menu.active {
    max-height: 200px;
}

.dropdown-option {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #1b1b1b;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 8px;
}

.dropdown-option:hover {
    background-color: #C2C3BF;
    border: 1px;
    color: #1b1b1b;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


/* body */
/* body:not(#fototottot){
width: 1200px;
} */
.container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.big-cur {
    color: var(--03357c-CRUOI, #03357C);
    text-align: center;
    font-family: Poppins;
    font-size: 400px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-top: 356px;
    margin-left: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.big-cur img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: left top;
}

.main:not(.wisemn) {
    width: 100%;
    margin: 0 auto;
    /* Hiermee wordt de inhoud horizontaal gecentreerd */
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* hero */
.hero {
    display: flex;
    justify-content: space-between;
    position: relative;
    /* margin-left: 120px;
    margin-right: 120px; */
}

.hero {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto;

}

.section-hero-info {
    padding-top: 96px;
    max-width: 560px;
    border-radius: 5px;
    /* margin: 20px auto;
    padding: 20px; */
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.codelanguages img {
    width: 180px;
    height: auto;
}

.imgshero {
    display: flex;
    align-items: center;
}

.wisemn {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#wise1 {
    z-index: 3;
    transform: rotate(322deg);
    margin-bottom: -260px;
}

#wise2 {
    z-index: 4;
    transform: rotate(334deg);
    margin-bottom: -260px;
}

#wise3 {
    z-index: 2;
    transform: rotate(-8deg);
    margin-bottom: -260px;
}

#wise4 {
    z-index: 1;
    transform: rotate(8deg);
    margin-bottom: -260px;
}

#wise5 {
    z-index: 5;
    transform: rotate(25deg);
    margin-bottom: -260px;
}

#wise6 {
    z-index: 6;
    transform: rotate(40deg);
    margin-bottom: -260px;
}

#wise7 {
    z-index: 6;
    transform: rotate(48deg);
    margin-bottom: 80pxpx;
}


.typewriter {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3s steps(40, end),
        blink-caret .5s step-end infinite;
    color: #333;
    font-size: 24px;
    font-family: 'Arial', sans-serif;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: orange;
    }
}





/* .imgsharesfeer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.imgsharesfeer p,
img {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 14px;

}

.imgsharesfeer img {
    width: 80px;
}

.imgsharesfeer p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 450;
} */



.sfeerinformationblo {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: center;
}

.sfeerinformationblo h2 {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-left: 84px;
    column-gap: 32px;
    font-size: 24px;
}



.eeninfo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    column-gap: 40px;
}

.tweeinfo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    column-gap: 40px;
}

.drieinfo {
    display: flex;
    align-items: center;
    text-align: left;
    column-gap: 40px;
}

.vierinfo {
    display: flex;
    align-items: center;
    text-align: left;
    column-gap: 40px;
}

.vijfinfo {
    display: flex;
    align-items: center;
    text-align: left;
    column-gap: 40px;
}

.zesinfo {
    display: flex;
    align-items: center;
    text-align: left;
    column-gap: 40px;
}


.exlcimg1,
.exlcimg2,
.exlcimg3,
.exlcimg4,
.exlcimg5,
.exlcimg6 {
    width: 600px;
    display: flex;
    flex-direction: column;
    column-gap: 80px;
    position: relative;
    transform: translateX(0);
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: transform 1s ease, opacity 1s ease, max-height 1s ease;
    margin-bottom: 50px;
    margin-left: 80px;
}

.eeninfo img,
.tweeinfo img,
.drieinfo img,
.vierinfo img,
.vijfinfo img,
.zesinfo img {
    transition: transform 1s ease;
    margin-bottom: 50px;
    margin-left: 80px;
}

.eeninfo:hover .exlcimg1,
.tweeinfo:hover .exlcimg2,
.drieinfo:hover .exlcimg3,
.vierinfo:hover .exlcimg4,
.vijfinfo:hover .exlcimg5,
.zesinfo:hover .exlcimg6 {
    transform: translateX(-80px);
    opacity: 1;
    max-height: 1000px;
    margin-left: 80px;
}

.eeninfo:hover img,
.tweeinfo:hover img,
.drieinfo:hover img,
.vierinfo:hover img,
.vijfinfo:hover img,
.zesinfo:hover img {
    transform: translateX(-80px) rotate(90deg);
    margin-bottom: 50px;
    margin-left: 80px;
}

#Opleiding{
margin-top: 80px;

}
.Opleiding h3{
    margin-bottom: 40px;
    margin-top: 20px;

    column-gap: 32px;
    font-size: 24px;
}

.aboutthecourse {
    background: var(--03357c-CRUOI, #03357C);
    border-radius: 8px;
    padding: 16px 32px;
    margin-bottom: 32px;
    transition: .4s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.aboutthecourse:hover{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    /* backdrop-filter: blur(5px); */
}
.aboutthecourse img{
    width: 400px;
    height: auto;
    background-color: #ffffffd3;
    border-radius: 4px;
    transition: .4s ease-in-out;
}
.aboutthecourse img:hover{
    background-color: #ffffff;
}

.aboutthecourse h3 {
    color: white;
    margin-bottom: 8px;
}

.aboutthecourse p {
    color: white;
    width: 700px;

}


.versnelmogelijkheid {
    /* background-color: #BEB0FF; */
    border-radius: 8px;
    padding: 16px 32px;
    margin-bottom: 32px;
    transition: .4s ease-in-out;
}
.versnelmogelijkheid:hover{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    /* backdrop-filter: blur(3px); */
}

/* .versnelmogelijkheid h3 {}

.versnelmogelijkheid p {} */



.opdeblockk {
    background: var(--03357c-CRUOI, #03357C);
    border-radius: 8px;
    padding: 16px 32px;
    margin-bottom: 80px;
    transition: .4s ease-in-out;

}
.opdeblockk:hover{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    /* backdrop-filter: blur(5px); */
}

.opdeblockk h3 {
    color: white;

}

.opdeblockk p {
    color: white;

}


.Rooster h3{
    margin-bottom: 40px;
    margin-top: 20px;

    column-gap: 32px;
    font-size: 24px;

}






















/* Footer */
footer {
    background: var(--03357c-CRUOI, #03357C);
    width: 100%;
    height: 410px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    color: var(--white, #FFF);
    font-family: Poppins;
}

.main-content-footer:not(#twintow) {
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.io {
    width: 1px;
    height: 160px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

#io1 {
    margin-left: 165px;
    margin-right: 32px;
}

#io2 {
    margin-left: 150px;
    margin-right: 32px;
}

.information-section {
    display: flex;
    align-items: center;
}

.exl-sidebar {
    width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sidebar img {
    color: var(--white, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 62px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.ist-sectionfo p,
.ist-sectionfo a {
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.ist-sectionfo p::before,
.ist-sectionfo a::before {
    content: "";
    background-image: linear-gradient(to right, #FFCC01 0%, #FFCC01 100%);
    background-repeat: no-repeat;
    background-size: 0% 2px;
    background-position: 0 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transition: background-size 0.3s ease;
}

.ist-sectionfo p:hover::before,
.ist-sectionfo a:hover::before {
    background-size: 100% 2px;
}

.ist-sectionfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 32px;
}

.head-curio-big {
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.mail {
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.phonenumber {
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    display: flex;
    align-items: left;
    flex-direction: column;
}

.phonenumber a {
    color: var(--white, #FFF);
    text-decoration: none;
}

.scnd-section-info-footer {
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.scnd-section-info-footer p {
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.scnd-section-info-footer p::before {
    content: "";
    background-image: linear-gradient(to right, #FFCC01 0%, #FFCC01 100%);
    background-repeat: no-repeat;
    background-size: 0% 2px;
    background-position: 0 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transition: background-size 0.3s ease;
}

.scnd-section-info-footer p:hover::before {
    background-size: 100% 2px;
}

.trd-section-info-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 27px;
}

.trd-section-info-footer a {
    position: relative;
    color: var(--white, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-decoration: none;
    overflow: hidden;
}

.trd-section-info-footer a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: #FFCC01;
    transition: width 0.3s ease;
}

.trd-section-info-footer a:hover::before {
    width: 100%;
}

.icons-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first3,
.last3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first3 img,
.last3 img {
    margin: 0 12px;
    margin-top: 8px;
}

.lowbar-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: 120px;
    margin-right: 120px; */
    row-gap: 8px;
}

.info-low {
    color: var(--white, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    display: flex;
    column-gap: 770px;
}

.group-info-low a {
    color: var(--white, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-decoration: none;
}

.group-info-low {
    column-gap: 24px;
}

.lowbar-footer img {
    display: block;
    margin: 0 auto;
}