* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header,
.navANDdropdown {
    display: flex;
    align-items: center;
    padding: 16px 0px;

}

header p {
    color: #FFCC01;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor:pointer;
}
header p span {
    background: linear-gradient(to bottom, #FFCC01 50%, #03357C 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}


header p a{
    cursor: help;
    color: #03357C;
    text-decoration: none;
}
.navANDdropdown {
    display: flex;
    column-gap: 48px;
}

/* logo *//* logo *//* logo *//* logo *//* logo *//* logo *//* logo *//* logo *//* logo *//* logo */

/* navbar *//* navbar *//* navbar *//* navbar *//* navbar *//* navbar *//* navbar *//* navbar */

nav {
    display: flex;
    align-items: center;
    column-gap: 48px;
}
nav a{
    text-decoration: none;
    color:black;
}

/* .nav-1 , .nav-2 , .nav-3 *//* .nav-1 , .nav-2 , .nav-3 *//* .nav-1 , .nav-2 , .nav-3 *//* .nav-1 , .nav-2 , .nav-3 *//* .nav-1 , .nav-2 , .nav-3 */

.nav-1 {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.nav-1 a, svg{
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.nav-2 {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.nav-2 a, svg{
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.nav-3 {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.nav-3 a, svg{
    display: flex;
    align-items: center;
    column-gap: 8px;
}

/* dropdown *//* dropdown *//* dropdown *//* dropdown *//* dropdown *//* dropdown *//* dropdown *//* dropdown *//* dropdown *//* dropdown */

/* Stijl voor dropdown-button */
.dropdown-button {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s ease-out, color 0.4s ease-out;

}
.dropdown-button:hover {
    color: #4e4e4e;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

/* Stijl voor dropdown-menu */
.dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
    /* border-radius: 5px; */

    /* max-height: 0; */
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}
.dropdown-menu.active {
    max-height: 200px; /* Pas de hoogte aan op basis van je behoeften */
}

/* Stijl voor dropdown-opties */
.dropdown-option {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #1b1b1b;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 8px;
}

.dropdown-option:hover {
    background-color: #C2C3BF;
    border: 1px;
    color: #1b1b1b;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}




/* body *//* body *//* body *//* body *//* body *//* body *//* body *//* body *//* body *//* body *//* body *//* body *//* body *//* body */

.container{
    margin-left: 120px;
    margin-right: 120px;
}
.main{
max-width: 100vw;
width: max-content;
}


/* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero */

.hero{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.hero {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-image: url('img/PAPAPattern.png'); /* Voeg het pad naar je PNG-afbeelding toe */
    background-repeat: no-repeat;
    background-position: right top; /* Plaats de afbeelding aan de rechterkant bovenaan */
    background-size: auto; /* Stel de grootte van de afbeelding in op de oorspronkelijke grootte */
}
.section-hero-info {
    padding-top: 96px;
    max-width: 560px;
    background-color: rgba(255, 255, 255, 0.7); /* Achtergrondkleur met een beetje transparantie */
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px;
}
.decoratie-afbeelding {
    display: none; /* Verberg de afbeelding omdat deze als achtergrond wordt gebruikt */
}
.typewriter {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3s steps(40, end),
        blink-caret .5s step-end infinite;
    color: #333; /* Tekstkleur */
    font-size: 24px; /* Lettergrootte */
    font-family: 'Arial', sans-serif; /* Lettertype */
    /* Voeg andere stijlen toe zoals tekstschaduw, lijnhoogte, enz. */
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: orange;
    }
}
