* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* header */
/* header */
/* header */
/* header */
/* header */
/* header */
/* header */
/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
}

header,
.navANDdropdown {
    display: flex;
    align-items: center;
    padding: 16px 0px;

}

header p {
    color: #FFCC01;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

header p span {
    background: linear-gradient(to bottom, #FFCC01 50%, #03357C 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}


header p a {
    cursor: help;
    color: #03357C;
    text-decoration: none;
}

.navANDdropdown {
    display: flex;
    column-gap: 48px;
}

/* logo */
/* logo */
/* logo */
/* logo */
/* logo */
/* logo */
/* logo */
/* logo */
/* logo */
/* logo */

/* navbar */
/* navbar */
/* navbar */
/* navbar */
/* navbar */
/* navbar */
/* navbar */
/* navbar */

nav {
    display: flex;
    align-items: center;
    column-gap: 48px;
}

nav a {
    text-decoration: none;
    color: black;
}

/* .nav-1 , .nav-2 , .nav-3 */
/* .nav-1 , .nav-2 , .nav-3 */
/* .nav-1 , .nav-2 , .nav-3 */
/* .nav-1 , .nav-2 , .nav-3 */
/* .nav-1 , .nav-2 , .nav-3 */

.nav-1 {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.nav-1 a,
svg {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.nav-2 {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.nav-2 a,
svg {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.nav-3 {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.nav-3 a,
svg {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

/* dropdown */
/* dropdown */
/* dropdown */
/* dropdown */
/* dropdown */
/* dropdown */
/* dropdown */
/* dropdown */
/* dropdown */
/* dropdown */

/* Stijl voor dropdown-button */
.dropdown-button {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s ease-out, color 0.4s ease-out;

}

.dropdown-button:hover {
    color: #4e4e4e;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

/* Stijl voor dropdown-menu */
.dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    max-height: 0;
    /* Voeg deze regel toe om de animatie te starten vanaf 0 hoogte */
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    /* Voeg een overgang toe op max-height */
}

.dropdown-menu.active {
    max-height: 200px;
    /* Pas de hoogte aan op basis van je behoeften */
}

/* Stijl voor dropdown-opties */
.dropdown-option {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #1b1b1b;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 8px;
}

.dropdown-option:hover {
    background-color: #C2C3BF;
    border: 1px;
    color: #1b1b1b;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}




/* body */
/* body */
/* body */
/* body */
/* body */
/* body */
/* body */
/* body */
/* body */
/* body */
/* body */
/* body */
/* body */
/* body */
.big-cur {
    color: var(--03357c-CRUOI, #03357C);
    text-align: center;
    font-family: Poppins;
    font-size: 400px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-top: 356px;
    margin-left: 0;
    /* Verwijder eventuele linkermarge */
    position: absolute;
    /* Maak de afbeelding absoluut gepositioneerd */
    left: 0;
    /* Plaats de afbeelding aan de linkerkant van het scherm */
    top: 0;
    /* Plaats de afbeelding bovenaan het scherm */
}

/* Voeg een klasse toe voor de afbeelding zelf en stel de breedte en hoogte in */
.big-cur img {
    width: 100%;
    /* 100% breedte van het beschikbare scherm */
    height: 100vh;
    /* 100% hoogte van het beschikbare scherm */
    object-fit: cover;
    /* Behoud de beeldverhouding en snijd bij indien nodig */
    object-position: left top;
    /* Plaats de afbeelding aan de linkerbovenhoek */
}





/* 
.container {
    margin-left: 120px;
    margin-right: 120px;
} */

.main {
    max-width: 100vw;
    width: max-content;
    margin-left: 120px;
    margin-right: 120px;
}


/* hero */
/* hero */
/* hero */
/* hero */
/* hero */
/* hero */
/* hero */
/* hero */
/* hero */
/* hero */
/* hero */
/* hero */
/* hero */
/* hero */

.hero {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-left: 120px;
    margin-right: 120px;
}

.hero {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-image: url('img/PAPAPattern.png');
    /* Voeg het pad naar je PNG-afbeelding toe */
    background-repeat: no-repeat;
    background-position: right top;
    /* Plaats de afbeelding aan de rechterkant bovenaan */
    background-size: auto;
    /* Stel de grootte van de afbeelding in op de oorspronkelijke grootte */
}

.section-hero-info {
    padding-top: 96px;
    max-width: 560px;
    background-color: rgba(255, 255, 255, 0.7);
    /* Achtergrondkleur met een beetje transparantie */
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px;
}

.decoratie-afbeelding {
    display: none;
    /* Verberg de afbeelding omdat deze als achtergrond wordt gebruikt */
}

.typewriter {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3s steps(40, end),
        blink-caret .5s step-end infinite;
    color: #333;
    /* Tekstkleur */
    font-size: 24px;
    /* Lettergrootte */
    font-family: 'Arial', sans-serif;
    /* Lettertype */
    /* Voeg andere stijlen toe zoals tekstschaduw, lijnhoogte, enz. */
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: orange;
    }
}



/* Footer */
footer {
    background: var(--03357c-CRUOI, #03357C);
    width: 100%;
    height: 410px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    color: var(--white, #FFF);
    font-family: Poppins;
}

.io {
    width: 1px;
    height: 160px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

#io1 {
    margin-left: 165px;
    margin-right: 32px;
}

#io2 {
    margin-left: 150px;
    margin-right: 32px;
}

.information-section {
    display: flex;
    align-items: center;
}

.exl-sidebar {
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sidebar img {
    color: var(--white, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 62px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 62px */
}



.ist-sectionfo p,
.ist-sectionfo a {
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 20px */
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.ist-sectionfo p::before,
.ist-sectionfo a::before {
    content: "";
    background-image: linear-gradient(to right, #FFCC01 0%, #FFCC01 100%);
    background-repeat: no-repeat;
    background-size: 0% 2px;
    background-position: 0 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transition: background-size 0.3s ease;
}

.ist-sectionfo p:hover::before,
.ist-sectionfo a:hover::before {
    background-size: 100% 2px;
}




.ist-sectionfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 32px;
}

.head-curio-big {
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 48px */
}

.mail {
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 20px */
}

.phonenumber {
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 20px */
    display: flex;
    align-items: left;
    flex-direction: column;
}

.phonenumber a {
    color: var(--white, #FFF);
    text-decoration: none;
}

.scnd-section-info-footer {
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 20px */
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}




.scnd-section-info-footer p {
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 20px */
    position: relative;
    /* Voeg een relatieve positie toe aan het element */
    cursor: pointer;
    /* Voeg een aanwijzer toe om aan te geven dat er iets interactiefs is */
    overflow: hidden;
    /* Verberg de overloop van het pseudo-element */
}

.scnd-section-info-footer p::before {
    content: "";
    /* Voeg een pseudo-element toe */
    background-image: linear-gradient(to right, #FFCC01 0%, #FFCC01 100%);
    /* Gele achtergrond van links naar rechts */
    background-repeat: no-repeat;
    /* Herhaal de achtergrond niet */
    background-size: 0% 2px;
    /* Begin met een breedte van 0 voor de gele lijn */
    background-position: 0 100%;
    /* Plaats de lijn onderaan */
    position: absolute;
    /* Maak het pseudo-element absoluut gepositioneerd binnen de bovenliggende p-tag */
    left: 0;
    /* Plaats het aan de linkerkant van de p-tag */
    bottom: 0;
    /* Plaats het aan de onderkant van de p-tag */
    width: 100%;
    /* Zorg ervoor dat de lijn de volledige breedte van de p-tag heeft */
    height: 2px;
    /* Dikte van de gele lijn */
    transition: background-size 0.3s ease;
    /* Soepele overgang van de breedte met een duur van 0,3 seconden */
}

.scnd-section-info-footer p:hover::before {
    background-size: 100% 2px;
    /* Breid de breedte van de gele lijn uit naar 100% bij hover */
}






.trd-section-info-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 27px;

}

.trd-section-info-footer a {
    position: relative;
    color: var(--white, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-decoration: none;
    /* 40px */
    overflow: hidden;
    /* Verberg de overflow van de animatie */
}

.trd-section-info-footer a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    /* Hoogte van de gele balk onder de link */
    background-color: #FFCC01;
    /* Gele kleur */
    transition: width 0.3s ease;
    /* Animatie over 0.3 seconden */
}

.trd-section-info-footer a:hover::before {
    width: 100%;
    /* Verander de breedte naar 100% bij hover */
}

.icons-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first3,
.last3 {
    display: flex;
    justify-content: space-between;
    /* Hiermee creëren we de horizontale afstand van 24px */
    align-items: center;
}

.first3 img,
.last3 img {
    margin: 0 12px;
    /* Horizontale afstand van 12px tussen de icoontjes */
    margin-top: 8px;
    /* Verticale afstand van 8px boven en onder de icoontjes */
}


.lowbar-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
    row-gap: 8px;
}

.info-low {
    color: var(--white, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 10px */
    display: flex;
    /* justify-content: space-between; */
    column-gap: 770px;
}

.group-info-low a {
    color: var(--white, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 10px */
    text-decoration: none;
}
.group-info-low{
    column-gap: 24px;
}
.lowbar-footer img {
    display: block;
    margin: 0 auto; /* Hierdoor wordt de afbeelding in het midden van de container geplaatst */
}
